<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Welcome to Beer Tracker!</h1>
        <p class="lead">Beer Tracker helps you remember all the great (and not so great) beers you've had.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Knows All Your Beer</h2>
            <p>
                Once you enter a beer into beer tracker, we'll remember it for you.  
                No more wondering if you've had a particular beer or not being able to remember
                quite what it tastes like.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Review Your Beers</h2>
            <p>
                Don't just track a name, review your beers.  Beer Tracker lets you enter a review of your beer.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Easy to Use</h2>
            <p>
                It only takes a couple of minutes to create an account, and then you're ready to enter beers.
                Entering beers is a simple, short form that makes Beer Tracker painless to use.
            </p>
        </div>
    </div>
</div> 