<div class="container">
    <form action="/user/resend_verification" method="post">
                <legend>Resend Verification Email</legend>

                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                
                <input type="submit" value="Submit" name="submit" class="btn btn-primary">
            </form>
</div>